<div class="container">
  <ul class="posts">
    <% @posts.each do |p|%>
      <li><a href="<%= p.url %>">
            <%= p.title %>
          </a>
          <span>(<%= p.url %>)</span>
      </li>
    <%end%>
  </ul> 
</div>
