<div class="container">
  <h1>Your Facken posts</h1>
  <% @posts.each do |post| %>
    <li>
      <a href="<%= post.url %>">
          <%= post.title %>
      </a>
      <span>(<%= post.url %>)</span>
    </li>
  <%end%>

</div>
