<h1> HELLO!!!!!!!!!!<%= @user_id %> <%= current_user.user_name %><h1>

<h2><a href="/submit">Create a post yo!</a></h2>

<h3><a href="/user/<%=current_user.user_name%>/posts">Check out yo posts</a></h3>
